---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1>11ty Powered <strong>Planetary Playing Cards</strong></h1>
    <div class="card-grid">
        <div class="card sun-card">
            <div class="sun-circle"></div>
            <h2 class="card-title">Sun</h2>
            <p class="card-subtitle">Type G2V</p>
        </div>
        <div class="card planet-card">
            <div class="planet-circle"></div>
            <h2 class="card-title">Mercury</h2>
            <p class="card-subtitle">AU Distance</p>
        </div>
        <div class="card planet-card">
            <div class="planet-circle"></div>
            <h2 class="card-title">Venus</h2>
            <p class="card-subtitle">AU Distance</p>
        </div>
        <div class="card planet-card">
            <div class="planet-circle"></div>
            <h2 class="card-title">Earth</h2>
            <p class="card-subtitle">AU Distance</p>
        </div>
        <div class="card planet-card">
            <div class="planet-circle"></div>
            <h2 class="card-title">Mars</h2>
            <p class="card-subtitle">AU Distance</p>
        </div>
        <div class="card planet-card">
            <div class="planet-circle"></div>
            <h2 class="card-title">Jupiter</h2>
            <p class="card-subtitle">AU Distance</p>
        </div>
        <div class="card planet-card">
            <div class="planet-circle"></div>
            <h2 class="card-title">Saturn</h2>
            <p class="card-subtitle">AU Distance</p>
        </div>
        <div class="card planet-card">
            <div class="planet-circle"></div>
            <h2 class="card-title">Uranus</h2>
            <p class="card-subtitle">AU Distance</p>
        </div>
        <div class="card planet-card">
            <div class="planet-circle"></div>
            <h2 class="card-title">Neptune</h2>
            <p class="card-subtitle">AU Distance</p>
        </div>
    </div>

    <script>
        ScrollReveal().reveal('.card', {
            delay: 200,
            distance: '20px',
            duration: 1000,
            easing: 'cubic-bezier(0.5, 0, 0, 1)',
            interval: 200,
            opacity: 0,
            origin: 'bottom',
            reset: false
        });
    </script>