---
title: Planetary Playing Cards
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js"></script>
</head>
<body>
<h1>11ty Powered <strong>Planetary Playing Cards</strong></h1>
    <div class="card-grid">
        <div class="card sun-card">
            <div class="sun-circle"></div>
            <h2 class="sun-card-title">Sun</h2>
            <p class="card-subtitle">Type G2V</p>
        </div>
    {{ content }}
    
</body>
</html>